/* src/components/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(19, 19, 19, 0.6);
    color: #fff; /* White text */
    position: absolute;
    z-index: 10;
    width: 100%;
}

.logoContainer {
    display: flex;
    align-items: center; /* Center the logo vertically */
}

.logoImage {
    height: 50px; /* Set a height for the logo */
    width: auto; /* Maintain aspect ratio */
    filter: invert(1);
}

.navList {
    list-style: none; /* Remove bullet points */
    display: flex; /* Horizontal layout */
}

.navList li {
    margin: 0 15px; /* Space between menu items */
    cursor: pointer; /* Pointer on hover */
    transition: color 0.3s; /* Transition effect */
}

.navList li:hover {
    color: #009b77; /* Highlight color on hover */
}

.activeNavItem {
    color: #009b77; /* Change color for active item */
    font-weight: bold; /* Bold text for active item */
}
